@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
}

body{
   font-family: "Tilt Neon", sans-serif;
   font-weight: 300;
   background: #000 url("../images/universe.jpg");
   background-size:cover;
   background-attachment: fixed;
   background-position: center;
   padding: 2%;
   padding-top: 0;
   margin: 0;
   border-radius: 15%;
}

h1{ 
    font-size: 130%;
}

section#section-quiz {
    width: 100%;
}

.quiz-wrapper{
    background: rgb(0 173 173 / 70%);
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 15px;
    border: 2px solid #000;
    border-radius: 20px;
    min-height: 593px;
    display: flex;
    position: relative;
    text-align: center;
    /*margin-top: 150px;*/
}

#no-username{
    background-color: white;
    border-radius: 6px;
    padding: 5px 10px;
    text-align: center;
}

div#welcome{
    align-self: center;
}

div#quiz-area{
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-bottom: 70px;
}

div#quiz-result{
    margin: 0 auto;
    align-self: center;
}

#zodiac:hover{
    background-color:  grey;
    font-family: "Tilt Neon", sans-serif;
}

#stars:hover{
    background-color:  grey;
    font-family: "Tilt Neon", sans-serif;
}

.btn-answer:hover{
    background-color:  grey;
}

#welcome button{
    padding: 8px 23px;
    font-size: 20px;
    font-family: "Tilt Neon", sans-serif;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #000;
    margin: 0 20px;
}

#welcome h1{
    font-size: 50px;
}

#welcome button:hover{
    color: white;
}

.quiz-wrapper > div{
    display: none;
}

.quiz-wrapper > div.active {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s 0.5s ease-in forwards;
}

@keyframes fadeIn{
    0%{
        transform: scale(0.9);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#quiz-area h1{
    font-size: 50px;
    margin-bottom: 5px;
}

button.btn-answer{
    display: block;
    margin: 15px auto;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Tilt Neon", sans-serif;
    width: 90%;
    max-width: 300px;
    cursor: pointer
}

button.btn-answer.correct{
    background: #2ecc71;
    color: white;
}

button.btn-answer.wrong{
    background: #e74c3c;
    color: white;
}

.btn-next{
    display: none;
    margin: 15px auto;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Tilt Neon", sans-serif;
    cursor: pointer;
    background: white;
    color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.btn-next:hover,
button#restart:hover{
    background: grey;
    color: white;
    font-family: "Tilt Neon", sans-serif;
}
button#restart{
    margin: 15px auto;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Tilt Neon", sans-serif;
    cursor: pointer;
    background: white;
    color: #000;
}
 
.score-area{
    font-size: 31px;
}

span#score{
    color: #2ecc71;
    display: inline-block;
    padding: 0 10px;
    background: white;
    border-radius: 5px;
    min-width: 25px;
}

span#incorrect{
    color: #e74c3c;
    display: inline-block;
    padding: 0 10px;
    background: white;
    border-radius: 5px;
    min-width: 25px;
}
 .quiz-progress{
    font-size: 18px;
 }
.quiz-rules{
    font-size: 25px;
}

.quiz-rules > p{
    display: none;
}

.section-quiz.zodiac .rules-zodiac,
.section-quiz.stars .rules-stars{
    display: block;
}

.btn-close{
    font-size: 58px;
    line-height: 0.7;
    padding: 5px 10px;
    display: block;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: white;
    position: absolute;
    right: -10px;
    top: -25px;
}

input#username{
    font-family: "Tilt Neon", sans-serif;
    font-size: 20px;
    border: 3px solid #000;
    background: white;
    border-radius: 6px;
    padding: 5px 10px;
    text-align: center;
}

.btn-feedback, .feedback-form button{
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 8px 11px;
    font-size: 13px;
    font-family: "Tilt Neon", sans-serif;
    border: 2px solid #000;
    cursor: pointer;
    border-radius: 6px;
    text-transform: capitalize;
}

.btn-feedback:hover, 
.feedback-form button:hover{
    color: #fff;
    background: grey;
}

div#quiz-feedback{
    position: relative;
    margin: 0 auto;
    width: 100%;
}

div#quiz-feedback-form > *:not(button){
    display: block;
    width: 100%;
}

.feedback-form input,
.feedback-form textarea{
    font-size: 20px;
    padding: 8px 11px;
    border-radius: 5px;
    margin-bottom: 15px;
    background: rgb(255 255 255 / 70%);
}

form.feedback-form h3 {
    margin: 10px 0 10px;
}

form.feedback-form label {
    text-transform: capitalize;
}

.feedback-form button {
    position: static;
}

@media screen and (max-width:420px){
    button.btn-answer {
        font-size: 15px;
    }
}