@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 5px;
    padding: 5px;
}

html{
    box-sizing: border-box;
}

body{
   font-family: Tilt Neon, sans-serif;
   font-weight: 300;
   background-color: #00ADAD;
   text-align: center; 
   padding: 2%;
   margin: 0;
   border-radius: 15%;
}

h1{ 
    font-size: 170%;
}

#zodiac:hover{
    background-color:  green;
}

#stars:hover{
    background-color:  green;
}

.btn-answer:hover{
    background-color:  grey;
}

section#welcome button{
    padding: 8px 23px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid black;
    margin: 0 20px;
}

 